* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$background-color: black;
$white-color: white;
$para-font-size: 17px;
$button-bgcolor: #717FE0;
$border-color: 2px solid rgb(160, 155, 155);

@mixin content-center {
    align-items: center;
    text-align: center;
}

@mixin flexproperty {
    display: flex;
    justify-content: space-between;
}

/* top navbar */

// new changes
.top-navbar {
    background-color: $background-color;
    position: fixed;
    width: 100%;
    z-index: 8;
    padding-left: 40px;
    padding-right: 50px;

}

// new changes
.top-navbar-head p {
    color: $white-color;
    font-size: 15px;
    opacity: 0.8;
}

.top-navbar-head {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    padding: 0px 15px;

}

.top-navbar-list ul {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.top-navbar-list ul {
    list-style: none;
    border-left: 2px solid $white-color;
    opacity: 0.8;

}

.top-navbar-list ul li {
    padding: 10px 20px 10px 20px;
    border-right: 2px solid $white-color;
}

.top-navbar-list ul li a {
    text-decoration: none;
    color: black;
    padding: auto;
    font-size: 15px;
    color: $white-color;

}

.top-bar2 {
    display: none;
    margin-top: 10px;
}

/* top navbar close */

/* navbar header  */

header {
    background: none;
 

}

// changese below
.navbar {
    @include flexproperty;
    align-items: center;
    height: 80px;
    position: fixed;
    background-color: #ccc;
    width: 100%;
    z-index: 5;
    padding-left: 130px;
    padding-right: 160px;
    top: 30px;

    
}

// change above

.nav-content {
    display: flex;
}

.logo {

    padding: 0px 15px;
}

.logo a img {
    height: 20px;
}

.nav-content ul {
    display: flex;
    list-style: none;
}

.nav-content ul li {
    padding: 0px 5px;
    margin: 0px 4px 0px 14px;
}

.nav-content ul li a {
    @include content-center;
    text-decoration: none;
    padding: 0px 5px;
    justify-content: center;
    color: black;
    position: relative;
    z-index: 5;
}

.nav-content ul li a:hover {
    color: $button-bgcolor;

}

.nav-icons {
    display: flex;
    justify-content: center;
   @include content-center;
}

.nav-icons a {
    margin: 10px;
    color: black;
}

.nav-icons a i {
    font-size: 23px;
}

.nav-icons a:hover {
    color: $button-bgcolor;

}

.login-ragister {
    display: none;
}

#click {
    display: none;
}

.nav-content label {
    display: none;
}


/* navbar header close  */

.hero {
    padding-top: 100px;
    overflow: hidden;
    height: 100vh;

}

.items img {
    width: 100%;
    position: relative;
    justify-content: center;
    align-content: center;
}

.items {
    width: 100%;
    display: flex;
    animation: slide 9s infinite linear;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }

}

/* hero section close */


/* banner section start  */

.banner {
    padding: 80px 0px 50px;
}

.banner-main {

    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    margin-left: 160px;
    margin-right: 160px;
}

.banner-item1 {
    background: url(/images/1.jfif) no-repeat center center/cover;
    height: 300px;
    border: 2px solid black;
    

}

.banner-item1 {
    transform: scaleX();
    transition: all 3s linear infinite;

}

.banner-item2 {
    background: url(/images/2.jpg) no-repeat center center/cover;
    height: 300px;
    border: 2px solid black;
}

.banner-item3 {
    background: url(/images/3.jpg) no-repeat center center/cover;
    height: 300px;
    border: 2px solid $background-color;

}


.banner-main a {
    text-decoration: none;
    color: $background-color;

}

.banner-content {
    padding: 20px;
}

.banner-main a h1 {
    font-size: 28px;

}

.banner-content p {
    font-size: 17px;
}

/* banner section close */


/* proudct section  start*/
#product-overview {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

#product-overview h3 {
    font-size: 36px;
    padding-bottom: 10px;
}

.product-main-section {
    @include flexproperty;
    height: auto;
    padding: 0px 0px 52px;
   
}

.product-btn {
    margin: 20px;
}

.product-btn button {
    padding-right: 20px;
    background: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.product-btn button:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60%;
    background: rgb(189, 182, 182);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

.product-btn button:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

/* product search */
.product-search {
    margin: 20px;
    font-size: $para-font-size;
    display: flex;
}

.filter-btn a button {
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: $border-color;
    cursor: pointer;
    opacity: 0.5;
    background-color: transparent;
}

.filter-btn a button:hover {
    background-color: $button-bgcolor;
    color: $white-color;
    opacity: 0.9;
}

input[type=text],
select {
    padding-left: 10px;
    font-size: 15px;
    width: 40%;
    border: $border-color;
    opacity: 0.5;
}

.product-search label {
    align-content: center;
    text-align: center;
    border: $button-bgcolor;
    opacity: 0.5;
    width: 10%;
    cursor: pointer;
}

.product-search label:hover {
    background-color: $button-bgcolor;
    opacity: 0.9;
}

/* product search  */

/* product image */
.product-item-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product-image img {
    width: 280px;
    height: 350px;
}

/* product image all */
.product-rate {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 40px;
    align-content: center;
    align-items: center;
}

.product-image button {
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.product-image button:hover {
    background-color: $background-color;
    color: $white-color;
}

.product-image button a {
    text-decoration: none;
    color: $background-color;
}

.product-image button a:hover {
    color: $white-color;
}

.product-rate .fa-heart {
    font-size: 20px;
    cursor: pointer;
    align-content: center;
}

.product-rate .fa-heart:hover {
    margin: 8px;
    padding: 8px;
    border-radius: 50%;
    background-color: $button-bgcolor;
}

.product-rate .fa-star {
    color: gold;
}

/* product all image  close */



/* load more btn */
.load-more-btn {
    margin-top: 100px;
    text-align: center;
}

.load-more-btn button {
    padding: 15px 40px 15px 40px;
    background: transparent;
    border: 1px solid $background-color;
    font-size: 17px;
    border-radius: 25px;
}

.load-more-btn button:hover {
    background-color: $background-color;
    color: $white-color;
    cursor: pointer;
    transition: all 1s ease-in;

}

/* product section close */



/* footer section  start */

footer {
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.896);
    color: $white-color;
    padding-top: 80px;
    margin-top: 150px;
}

.footer {
    @include flexproperty;
    padding-left: 160px;
    padding-right: 160px;

}

.footer-heading h1 {
    font-size: 20px;
    font-weight: 800px;
    margin-bottom: 30px;

}

/* footer-list */
.footer-list ul li {
    line-height: 2.5;
    list-style: none;
}

.footer-list ul li a {
    text-decoration: none;
    color: $white-color;
    opacity: 0.7;
}

.footer-list ul li a:hover {
    color:$button-bgcolor;
}

/* new change */
.categories {
    width: 300px;
}

.help {
    width: 200px;
}

/* get in touch */
.get-in-touch {
    width: 380px;
    padding: 20px;
}

/*  */

.get-in-touch p {
    line-height: 2.0;
    font-size: 17px;
    opacity: 0.7;

}

.get-in-touch i {
    margin-top: 20px;
    margin: 10px;
    color: $white-color;
    font-size: 17px;

}

.get-in-touch i:hover {
    color: $button-bgcolor;
}

input[type=email],
select {
    width: 100%;
    font-size: 17px;
    display: inline-block;
    border: 1px solid #ccc;
    background: transparent;
    border: none;
    border-bottom: 2px solid $white-color;
    opacity: 0.7;
    margin-bottom: 15px;

}

/* newsletter button */

.newsletter button {
    padding: 15px 50px 15px 50px;
    font-size: 17px;
    border-radius: 25px;
    background-color: $button-bgcolor;
    color: $white-color;
    border: none;

}

.newsletter button:hover {
    color: $button-bgcolor;
    background-color: $white-color;
    cursor: pointer;
}

/* cards */

.card {
    margin-top: 110px;
    text-align: center;

}

.copyrights {
    margin-top: 20px;
    text-align: center;
    opacity: 0.5;
}

.copyrights p a {
    text-decoration: none;
    color: aqua;
}

.copyrights p i {
    background: transparent;
    border: 1px solid rgb(0, 255, 13);
    color: red;
    border-radius: 25px;
    padding: 5px;
}

/* footer section close */


// mobile view 768

@media screen and (max-width:768px) {
  
    .top-navbar{
        display: none;

    }
    /* humburgar menu */
    .nav-content label {
        display: block;
    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;

    }

    .nav-content ul li {
        margin: 5px;
    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */

    /* login-ragister */
    .login-ragister {
        display: block;
    }

    .login-ragister-desktop {
        display: none;
    }

    /* login-ragister close */

    /* logo */
    .nav-icons {
        display: block;
        position: relative;
        left: 70px;
    }

    /* banner section */
    .banner {
        padding: 80px 0px 50px;
    }

    .banner-main {
        grid-template-columns: auto auto;
        width: 100%;
        margin: 0;
        padding: 0px 15px 30px;
        gap: 30px;
        
    }

    .banner-content {
        padding: 20px;
    }

    /* banner section close */


    /* product main section */

    .product-main-section {

        height: auto;
        width: 100%;
    }

    #product-overview {
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
    }

    .product-item-image {
        padding: 0px 0px 52px;
        grid-template-columns: auto auto;
        width: auto;
        height: auto;
        padding: 0px 15px 30px;
        gap: 30px;
        text-align: center;
    }

    .product-image img {
        // width: 200px;
        // height: 280px;

        // width: 330px;
        height: 450px;
    }

    /* img section  */
    .load-more-btn {
        margin-top: 40px;
        text-align: center;
        padding-bottom: 100px;
    }

    footer {
        display: block;
        height: auto;


    }

    .footer {
        grid-template-columns: repeat(2,1fr);
        height: auto;
        width: auto;
        padding-left: 30px;
        padding-right: 50px;
    }

    .categories {
        padding-bottom: 50px;
    }

    .help {
        padding-bottom: 50px;
    }

    .newsletter {
        padding-TOP: 50px;
    }


}


/* mobile view  500px*/

@media screen and (max-width:500px) {
    .top-navbar{
        display: none;

    }


    /* humburgar menu */
    .nav-content label {
        display: block;

    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;

    }

    .nav-content ul li {
        margin: 5px;

    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */


    /* login-ragister */
    .login-ragister {
        display: block;
    }

    .login-ragister-desktop {
        display: none;
    }

    /* login-ragister close */

    /* logo */
    .logo {
        margin-left: -140px;
    }

    /* logo */
    .nav-icons {
        display: flex;
        
        left: 70px;
    }

    .hero {
        width: auto;


    }
    .items img {
        // width: 500px;
        width: 100%;
        height: 100vh;
    }

    /* banner section */
    .banner {
        padding: 80px 0px 0px;

    }

    .banner-main {
        display: block;

        grid-template-columns: auto;
        width: 100%;
        margin: 0;
        padding: 0px 15px 30px;
        gap: 30px;

    }

    .banner-content {
        padding: 40px;
        margin: 20px;
    }

    /* banner section close */

    /* product main section */

    .product-main-section {
        display: block;
        height: auto;

    }

    #product-overview {
        margin-left: 20px;
        margin-right: 20px;
        /* height: 100vh; */

    }

    .product-item-image {

        padding: 0px 0px 52px;
        display: block;
        grid-template-columns: auto;
        width: 100%;
        height: auto;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-content: center;
        gap: 30px;

    }

    /* img section  */
    .product-image img {
        width: 430px;
        height: 450px;
    }

    /* img section close */

    /* load more btn */
    .load-more-btn {
        margin-top: 40px;
        text-align: center;
        padding-bottom: 100px;
    }

    // footer section start
    footer {
        display: block;
        height: auto;
    }

    .footer {
        grid-template-columns: auto;
        height: auto;
        display: block;
        padding-left: 30px;
    }

    .categories {
        padding-bottom: 50px;
    }

    .help {
        padding-bottom: 50px;
    }

    .newsletter {
        padding-TOP: 50px;
    }

    // footer section close

}



