* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* top navbar */
.top-navbar {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 8;
  padding-left: 40px;
  padding-right: 50px;
  top: 0px;
}

.top-navbar-head p {
  color: white;
  font-size: 15px;
  opacity: 0.8;
}

.top-navbar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
  padding: 0px 15px;
}

.top-navbar-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.top-navbar-list ul {
  list-style: none;
  border-left: 2px solid white;
  opacity: 0.8;
}

.top-navbar-list ul li {
  padding: 10px 20px 10px 20px;
  border-right: 2px solid white;
}

.top-navbar-list ul li:hover {
  cursor: pointer;
}

.top-navbar-list ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  color: white;
}

.top-navbar-list ul li a:hover {
  cursor: pointer;
  color: #717FE0;
}

.top-bar2 {
  display: none;
  margin-top: 10px;
}

.top-navbar-head-2 {
  display: none;
}

/* top navbar close */
/* navbar header  */
header {
  background: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  background-color: #ccc;
  width: 100%;
  z-index: 5;
  padding-left: 130px;
  padding-right: 160px;
  top: 30px;
}

.nav-content {
  display: flex;
}

.logo {
  padding: 0px 15px;
}

.logo a img {
  height: 20px;
}

.nav-content ul {
  display: flex;
  list-style: none;
}

.nav-content ul li {
  padding: 0px 5px;
  margin: 0px 4px 0px 14px;
}

.nav-content ul li a {
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0px 5px;
  justify-content: center;
  color: black;
  position: relative;
  z-index: 5;
}

.nav-content ul li a:hover {
  color: #717FE0;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-icons a {
  margin: 10px;
  color: black;
}

.nav-icons a i {
  font-size: 23px;
}

.nav-icons a i span {
  color: white;
  background-color: #717FE0;
  font-size: 10px;
  padding: 4px;
}

.nav-icons a:hover {
  color: #717FE0;
}

.login-ragister {
  display: none;
}

#click {
  display: none;
}

.nav-bar label {
  display: none;
}

/* navbar header close  */
.hero {
  padding-top: 100px;
  overflow: hidden;
  height: 100vh;
}

.items img {
  width: 100%;
  position: relative;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.items {
  width: 100%;
  display: flex;
  animation: slide 9s infinite linear;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
/* hero section close */
/* banner section start  */
.banner {
  padding: 80px 0px 50px;
}

.banner-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-left: 160px;
  margin-right: 160px;
}

.banner-item1 {
  background: url(/images/1.jfif) no-repeat center center/cover;
  height: 300px;
  border: 2px solid black;
}

.banner-content:hover {
  opacity: 0.5;
}

.banner-item2 {
  background: url(/images/2.jpg) no-repeat center center/cover;
  height: 300px;
  border: 2px solid black;
}

.banner-item3 {
  background: url(/images/3.jpg) no-repeat center center/cover;
  height: 300px;
  border: 2px solid black;
}

.banner-main a {
  text-decoration: none;
  color: black;
}

.banner-content {
  padding: 20px;
}

.banner-main a h1 {
  font-size: 28px;
}

.banner-content p {
  font-size: 17px;
}

/* banner section close */
/* proudct section  start*/
#product-overview {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

#product-overview h3 {
  font-size: 36px;
  padding-bottom: 10px;
}

.product-main-section {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 52px;
}

.product-btn {
  margin: 20px;
}

.product-btn button {
  padding-right: 20px;
  background: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 5px;
  position: relative;
}

.product-btn button:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 60%;
  background: rgb(189, 182, 182);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

.product-btn button:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

/* product search */
.product-search {
  margin: 20px;
  font-size: 17px;
  display: flex;
}

.filter-btn a button {
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid rgb(160, 155, 155);
  cursor: pointer;
  opacity: 0.5;
  background-color: transparent;
}

.filter-btn a button:hover {
  background-color: #717FE0;
  color: white;
  opacity: 0.9;
}

input[type=text],
select {
  padding-left: 10px;
  font-size: 15px;
  width: 40%;
  border: 2px solid rgb(160, 155, 155);
  opacity: 0.5;
}

.product-search label {
  align-content: center;
  text-align: center;
  border: #717FE0;
  opacity: 0.5;
  width: 10%;
  cursor: pointer;
}

.product-search label:hover {
  background-color: #717FE0;
  opacity: 0.9;
}

/* product search  */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #ccc;
  padding-left: 40px;
  padding-top: 40px;
  justify-items: flex-start;
  margin-bottom: 40px;
  margin: 0px 15px 50px 15px;
}

.item h1 {
  font-size: 20px;
}

.item {
  padding: 0px 15px 27px 0px;
}

.item ul {
  padding-top: 15px;
}

.item ul li {
  list-style: none;
  line-height: 1.5;
  font-size: 17px;
}

.item ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.496);
  font-weight: 400px;
}

.item ul li a:hover {
  color: #717FE0;
  border-bottom: 2px solid #717FE0;
  transition: all 1s ease;
}

.tags h1 {
  padding-bottom: 15px;
}

.tags {
  width: 40%;
}

.tag-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tag-list a button {
  padding: 10px 30px 10px 30px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.tag-list a button:hover {
  background-color: #717FE0;
}

.fixed-list-color li a {
  color: #717FE0;
  border-bottom: 2px solid #717FE0;
}

.black {
  color: black;
}

.blue {
  color: blue;
}

.grey {
  color: grey;
}

.green {
  color: green;
}

.red {
  color: red;
}

.white {
  color: white;
}

/* product image */
.product-item-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.product-image img {
  width: 280px;
  height: 350px;
}

/* product image all */
.product-rate {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 40px;
  align-content: center;
  align-items: center;
}

.product-image button {
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.product-image button:hover {
  background-color: black;
  color: white;
}

.product-image button a {
  text-decoration: none;
  color: black;
}

.product-image button a:hover {
  color: white;
}

.product-rate .fa-heart {
  font-size: 20px;
  cursor: pointer;
  align-content: center;
}

.product-rate .fa-heart:hover {
  margin: 8px;
  padding: 8px;
  border-radius: 50%;
  background-color: #717FE0;
}

.product-rate .fa-star {
  color: gold;
}

/* product all image  close */
/* load more btn */
.load-more-btn {
  margin-top: 100px;
  text-align: center;
}

.load-more-btn button {
  padding: 15px 40px 15px 40px;
  background: transparent;
  border: 1px solid black;
  font-size: 17px;
  border-radius: 25px;
}

.load-more-btn button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 1s ease-in;
}

/* product section close */
/* footer section  start */
footer {
  background-color: rgba(0, 0, 0, 0.896);
  color: white;
  padding-top: 80px;
  margin-top: 150px;
}

.footer {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 160px;
  padding-right: 160px;
}

.footer-heading h1 {
  font-size: 20px;
  font-weight: 800px;
  margin-bottom: 30px;
}

/* footer-list */
.footer-list ul li {
  line-height: 2.5;
  list-style: none;
}

.footer-list ul li a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.footer-list ul li a:hover {
  color: #717FE0;
}

/* new change */
.categories {
  width: 300px;
}

.help {
  width: 200px;
}

/* get in touch */
.get-in-touch {
  width: 380px;
  padding: 20px;
}

/*  */
.get-in-touch p {
  line-height: 2;
  font-size: 17px;
  opacity: 0.7;
}

.get-in-touch i {
  margin-top: 20px;
  margin: 10px;
  color: white;
  font-size: 17px;
}

.get-in-touch i:hover {
  color: #717FE0;
}

input[type=email],
select {
  width: 100%;
  font-size: 17px;
  display: inline-block;
  background: transparent;
  outline: none;
  margin-bottom: 15px;
  color: white;
  height: 15%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.46);
}

/* newsletter button */
.newsletter button {
  padding: 15px 50px 15px 50px;
  font-size: 17px;
  border-radius: 25px;
  background-color: #717FE0;
  color: white;
  border: none;
}

.newsletter button:hover {
  color: #717FE0;
  background-color: white;
  cursor: pointer;
}

/* cards */
.card {
  margin-top: 110px;
  text-align: center;
}

.copyrights {
  margin-top: 20px;
  text-align: center;
  opacity: 0.5;
}

.copyrights p a {
  text-decoration: none;
  color: aqua;
}

.copyrights p i {
  background: transparent;
  border: 1px solid rgb(0, 255, 13);
  color: red;
  border-radius: 25px;
  padding: 5px;
}

/* footer section close */
@media screen and (min-width: 769px) and (max-width: 1300px) {
  .top-navbar {
    display: none;
  }
  .nav-bar {
    font-size: 20px;
  }
  .banner-main3 {
    grid-column: 1/span 2;
  }
  .top-navbar-head-2 {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    background-color: black;
    color: white;
  }
  .top-navbar {
    display: none;
  }
  /* humburgar menu */
  .nav-bar label {
    display: block;
  }
  .navbar {
    top: 0;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #717FE0;
    color: white;
    z-index: 2;
    text-align: center;
  }
  .nav-content ul li {
    margin: 5px;
    border-bottom: 2px solid rgba(22, 4, 4, 0.3);
    padding-bottom: 5px;
  }
  .nav-content ul li a {
    color: white;
  }
  .nav-content ul li a:hover {
    color: #717FE0;
  }
  #click:checked ~ .nav-content ul {
    display: flex;
  }
  /* humbergar menu */
  /* login-ragister */
  .login-ragister {
    display: block;
  }
  .login-ragister-desktop {
    display: none;
  }
  /* login-ragister close */
  /* logo */
  .logo {
    margin-left: -140px;
  }
  /* logo */
  .nav-icons {
    display: flex;
    left: 70px;
  }
  .hero {
    padding-top: 80px;
    overflow: hidden;
    height: 100vh;
  }
  .items img {
    height: 100vh;
    position: relative;
    justify-content: center;
    align-content: center;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  /* banner section */
  .banner {
    padding: 80px 0px 50px;
  }
  .banner-main {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0;
    padding: 0px 15px 30px;
    gap: 30px;
  }
  .banner-content {
    padding: 20px;
  }
  /* banner section close */
  /* product main section */
  .product-main-section {
    width: 100%;
  }
  #product-overview {
    margin-left: 10px;
    margin-right: 0px;
  }
  .product-item-image {
    padding: 0px 0px 52px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 15px 30px;
    gap: 10px;
    text-align: center;
  }
  .product-image img {
    width: 250px;
    height: 450px;
  }
  /* img section  */
  .load-more-btn {
    margin-top: 40px;
    text-align: center;
    padding-bottom: 100px;
  }
  footer {
    display: block;
  }
  .footer {
    grid-template-columns: repeat(4, 1fr);
    padding-left: 30px;
    padding-right: 50px;
  }
  .categories {
    padding-bottom: 50px;
  }
  .help {
    padding-bottom: 50px;
  }
  .newsletter {
    padding-TOP: 50px;
  }
}
@media screen and (max-width: 768px) {
  .top-navbar {
    display: none;
  }
  .nav-bar {
    padding-right: 100px;
    font-size: 20px;
  }
  /* humburgar menu */
  .nav-bar label {
    display: block;
  }
  .banner-main3 {
    grid-column: 1/span 2;
  }
  .top-navbar-head-2 {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    background-color: black;
    color: white;
  }
  .top-navbar {
    display: none;
  }
  /* humburgar menu */
  .nav-content label {
    display: block;
  }
  .navbar {
    top: 0;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #717FE0;
    color: white;
    z-index: 2;
  }
  .nav-content ul li {
    margin: 5px;
    border-bottom: 2px solid rgba(22, 4, 4, 0.3);
    padding-bottom: 5px;
  }
  .nav-content ul li a {
    color: white;
  }
  .nav-content ul li a:hover {
    color: #717FE0;
  }
  #click:checked ~ .nav-content ul {
    display: flex;
  }
  /* humbergar menu */
  /* login-ragister */
  .login-ragister {
    display: block;
  }
  .login-ragister-desktop {
    display: none;
  }
  /* login-ragister close */
  /* logo */
  .logo {
    margin-left: -140px;
  }
  /* logo */
  .nav-icons {
    display: flex;
    left: 70px;
  }
  .hero {
    padding-top: 80px;
    overflow: hidden;
    height: 100vh;
  }
  .items img {
    height: 100vh;
    position: relative;
    justify-content: center;
    align-content: center;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* banner section */
  .banner {
    padding: 80px 0px 50px;
  }
  .banner-main {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0;
    padding: 0px 15px 30px;
    gap: 30px;
  }
  .banner-content {
    padding: 20px;
  }
  /* banner section close */
  /* product main section */
  .product-main-section {
    width: 100%;
  }
  #product-overview {
    margin-left: 20px;
    margin-right: 20px;
  }
  .product-item-image {
    padding: 0px 0px 52px;
    grid-template-columns: 1fr 1fr;
    padding: 0px 15px 30px;
    gap: 30px;
    text-align: center;
  }
  .product-image img {
    height: 450px;
  }
  /* img section  */
  .load-more-btn {
    margin-top: 40px;
    text-align: center;
    padding-bottom: 100px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 30px;
    padding-right: 50px;
  }
  .categories {
    padding-bottom: 50px;
  }
  .help {
    padding-bottom: 50px;
  }
  .newsletter {
    padding-TOP: 50px;
  }
}
/* mobile view  501  617px*/
@media screen and (min-width: 501px) and (max-width: 617px) {
  .top-navbar {
    display: none;
  }
  .nav-bar {
    padding-right: 30px;
    font-size: 20px;
  }
  /* humburgar menu */
  .nav-bar label {
    display: block;
  }
  .navbar {
    top: 0;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #717FE0;
    color: white;
    z-index: 2;
  }
  .nav-content ul li {
    margin: 5px;
  }
  .nav-content ul li a {
    color: white;
  }
  .nav-content ul li a:hover {
    color: #717FE0;
  }
  #click:checked ~ .nav-content ul {
    display: flex;
  }
  /* humbergar menu */
  /* login-ragister */
  .login-ragister {
    display: block;
  }
  .login-ragister-desktop {
    display: none;
  }
  /* login-ragister close */
  /* logo */
  .logo {
    margin-left: -140px;
  }
  /* logo */
  .nav-icons {
    display: flex;
    left: 70px;
  }
  .items img {
    width: 100%;
    height: 100vh;
  }
  /* banner section */
  .banner {
    padding: 80px 0px 0px;
  }
  .banner-main {
    display: block;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    padding: 0px 15px 30px;
    gap: 30px;
  }
  .banner-content {
    padding: 40px;
    margin: 20px;
  }
  /* banner section close */
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* product main section */
  .product-main-section {
    display: block;
  }
  #product-overview {
    margin-left: 20px;
    margin-right: 20px;
  }
  .product-item-image {
    padding: 0px 0px 52px;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 3px;
  }
  /* img section  */
  .product-image img {
    width: 430px;
    height: 450px;
  }
  /* img section close */
  /* load more btn */
  .load-more-btn {
    margin-top: 40px;
    text-align: center;
    padding-bottom: 100px;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
    display: block;
    padding-left: 30px;
  }
  .categories {
    padding-bottom: 50px;
  }
  .help {
    padding-bottom: 50px;
  }
  .newsletter {
    padding-TOP: 50px;
  }
}
/* mobile view  500px*/
@media screen and (max-width: 500px) {
  .top-navbar {
    display: none;
  }
  .nav-bar {
    padding-right: 30px;
    font-size: 20px;
  }
  /* humburgar menu */
  .nav-bar label {
    display: block;
  }
  .navbar {
    top: 0;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #717FE0;
    color: white;
    z-index: 2;
  }
  .nav-content ul li {
    margin: 5px;
  }
  .nav-content ul li a {
    color: white;
  }
  .nav-content ul li a:hover {
    color: #717FE0;
  }
  #click:checked ~ .nav-content ul {
    display: flex;
  }
  /* humbergar menu */
  /* login-ragister */
  .login-ragister {
    display: block;
  }
  .login-ragister-desktop {
    display: none;
  }
  /* login-ragister close */
  /* logo */
  .logo {
    margin-left: -140px;
  }
  /* logo */
  .nav-icons {
    display: flex;
    left: 70px;
  }
  .items img {
    width: 100%;
    height: 100vh;
  }
  /* banner section */
  .banner {
    padding: 80px 0px 0px;
  }
  .banner-main {
    display: block;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    padding: 0px 15px 30px;
    gap: 30px;
  }
  .banner-content {
    padding: 40px;
    margin: 20px;
  }
  /* banner section close */
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* product main section */
  .product-main-section {
    display: block;
  }
  #product-overview {
    margin-left: 20px;
    margin-right: 20px;
    /* height: 100vh; */
  }
  .product-item-image {
    padding: 0px 0px 52px;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 3px;
  }
  /* img section  */
  .product-image img {
    width: 430px;
    height: 450px;
  }
  /* img section close */
  /* load more btn */
  .load-more-btn {
    margin-top: 40px;
    text-align: center;
    padding-bottom: 100px;
  }
  .footer {
    grid-template-columns: 1fr;
    display: block;
    padding-left: 30px;
  }
  .categories {
    padding-bottom: 50px;
  }
  .help {
    padding-bottom: 50px;
  }
  .newsletter {
    padding-TOP: 50px;
  }
}/*# sourceMappingURL=style.css.map */