* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$background-color: black;
$white-color: white;
$para-font-size: 17px;
$button-bgcolor: #717FE0;
$border-color: 2px solid rgb(160, 155, 155);

@mixin content-center {
    align-items: center;
    text-align: center;
}

@mixin flexproperty {
    display: flex;
    justify-content: space-between;
}

/* top navbar */

// new changes
.top-navbar {
    background-color: $background-color;
    position: fixed;
    width: 100%;
    z-index: 8;
    padding-left: 40px;
    padding-right: 50px;

}

// new changes
.top-navbar-head p {
    color: $white-color;
    font-size: 15px;
    opacity: 0.8;
}

.top-navbar-head {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    padding: 0px 15px;

}

.top-navbar-list ul {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.top-navbar-list ul {
    list-style: none;
    border-left: 2px solid $white-color;
    opacity: 0.8;

}

.top-navbar-list ul li {
    padding: 10px 20px 10px 20px;
    border-right: 2px solid $white-color;
    cursor: pointer;
}

.top-navbar-list ul li a {
    text-decoration: none;
    color: black;
    padding: auto;
    font-size: 15px;
    color: $white-color;

}
.top-navbar-list ul li a:hover{
    color: $button-bgcolor;
}

.top-bar2 {
    display: none;
    margin-top: 10px;
}

/* top navbar close */

/* navbar header  */

header {
    background: none;
 

}

// changese below
.navbar {
    @include flexproperty;
    align-items: center;
    height: 80px;
    position: fixed;
    background-color: #ccc;
    width: 100%;
    z-index: 5;
    padding-left: 130px;
    padding-right: 160px;
    top: 30px;

    
}

// change above

.nav-content {
    display: flex;
}

.logo {

    padding: 0px 15px;
}

.logo a img {
    height: 20px;
}

.nav-content ul {
    display: flex;
    list-style: none;
}

.nav-content ul li {
    padding: 0px 5px;
    margin: 0px 4px 0px 14px;
}

.nav-content ul li a {
    @include content-center;
    text-decoration: none;
    padding: 0px 5px;
    justify-content: center;
    color: black;
    position: relative;
    z-index: 5;
}

.nav-content ul li a:hover {
    color: $button-bgcolor;

}

.nav-icons {
    display: flex;
    justify-content: center;
   @include content-center;
}

.nav-icons a {
    margin: 10px;
    color: black;
}

.nav-icons a i {
    font-size: 23px;
}

.nav-icons a:hover {
    color: $button-bgcolor;

}

.login-ragister {
    display: none;
}

#click {
    display: none;
}

.nav-content label {
    display: none;
}


/* navbar header close  */

// body{
    // /* background-color: lightblue; */
    // // background: url(/images/milad-fakurian-bexwsdM5BCw-unsplash.jpg) no-repeat center center/cover;
    // // background-color: white;
// }
.container{
    width: 810px;
    // background-color: #ccc;
    border-radius: 25px; 
    margin: auto;
    background-color: #717FE0;
   
  
}
.myaccount{
    padding-top: 120px;

}
.nav-icons{
    font-size: 20px;
    
}
.nav-icons a{
    text-decoration: none;
}

.profile-pic{
    text-align: center;
}
.profile-pic img  {
    width:100% ;
    height : 100% ;
    max-width: 200px ;  
    max-height: 250px ; 
    border-radius: 50%;
    
}
.profile-pic p{
    font-size: 20px;
    color: rgb(6, 9, 16);
    padding-top: 10px;
    border-bottom: 4px solid black;
}

.form-div{
    text-align: left;
}
// .username{
//     margin-left: 10px;
// }
input[type=text] , select{
    width: 30%;
    display: inline-block;
    margin: 8px 0px;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;

}

input[type=email] , select{
    width: 30%;
    display: inline-block;
    margin: 8px 0px;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;

}
input[type=tel] , select{
    width: 30%;
    display: inline-block;
    margin: 8px 0px;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
    color: rgb(14, 17, 22);
  

}
input[type=psd] , select{
    width: 30%;
    display: inline-block;
    margin: 8px 0px;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
   

}
::placeholder{
    background-color: bisque;
}
input[type=password] , select{
    width: 30%;
    display: inline-block;
    margin: 8px 0px;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
  

}
input[type=state] , select{
    width: 30%;
    display: inline-block;
    margin: 8px 0px;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
  
  

}
input[type=city] , select{
    width: 30%;
    display: inline-block;
    margin: 8px 0px;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
    
  

}
input[type=number] , select{
    width: 30%;
    display: inline-block;
    margin: 8px 0px;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;

  
  

}

.btn{
    text-align: center;
    padding-bottom: 50px;
}
#update-btn{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    background-color: springgreen;
    font-weight: bold;
    font-size: 17px;

    
}
#reset-btn{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: 17px;

}

span{
    font-size: 20px;
}




@media screen and  (max-width:768px) {

  
    .top-navbar{
        display: none;
        z-index: -5;
        position: relative;
        top: -15px;

    }
    /* humburgar menu */
    .nav-content label {
        display: block;
    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;

    }

    .nav-content ul li {
        margin: 5px;
    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */

    /* login-ragister */
    .login-ragister {
        display: block;
    }

    .login-ragister-desktop {
        display: none;
    }

    /* login-ragister close */

    /* logo */
    .nav-icons {
        display: block;
        position: relative;
        left: 70px;
    }


  .top-bar2{
    display: block;
    display: flex;
    justify-content: left;
  }

    
}





/* mobile view */

@media screen and  (max-width:500px) {

    .top-navbar{
        display: none;

    }


    /* humburgar menu */
    .nav-content label {
        display: block;

    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;

    }

    .nav-content ul li {
        margin: 5px;

    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */


    /* login-ragister */
    .login-ragister {
        display: block;
    }

    .login-ragister-desktop {
        display: none;
    }

    /* login-ragister close */

    /* logo */
    .logo {
        margin-left: -140px;
    }

    /* logo */
    .nav-icons {
        display: flex;
        left: 70px;
    }

    
}


