* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$background-color: black;
$white-color: white;
$para-font-size: 17px;
$button-bgcolor: #717FE0;
$border-color: 2px solid rgb(160, 155, 155);

@mixin content-center {
    align-items: center;
    text-align: center;
}

@mixin flexproperty {
    display: flex;
    justify-content: space-between;
}

@mixin input-property {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
}

@mixin input-mobile-property {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;

}
/* top navbar */

// new changes
.top-navbar {
    background-color: $background-color;
    position: fixed;
    width: 100%;
    z-index: 8;
    padding-left: 40px;
    padding-right: 50px;
    top: 0px;

}

// new changes
.top-navbar-head p {
    color: $white-color;
    font-size: 15px;
    opacity: 0.8;
}

.top-navbar-head {
    @include flexproperty;
    // height: 5vh;
    align-items: center;
    margin: 0px 100px;
    padding: 0px 15px;

}

.top-navbar-list ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.top-navbar-list ul {
    list-style: none;
    border-left: 2px solid $white-color;
    opacity: 0.8;

}

.top-navbar-list ul li {
    padding: 10px 20px 10px 20px;
    border-right: 2px solid $white-color;
    text-align: center;
}

.top-navbar-list ul li:hover {
    cursor: pointer;
}

.top-navbar-list ul li a {
    text-decoration: none;
    color: $background-color;
    // padding: auto;
    font-size: 15px;
    color: $white-color;

}

.top-navbar-list ul li a:hover {
    cursor: pointer;
    color: $button-bgcolor;
}

.top-bar2 {
    display: none;
    margin-top: 10px;
}

.top-navbar-head-2 {
    display: none;
}

/* top navbar close */

/* navbar header  */

header {
    background: none;


}

// changese below
.navbar {
    @include flexproperty;
    align-items: center;
    height: 80px;
    position: fixed;
    background-color: #ccc;
    width: 100%;
    z-index: 5;
    padding-left: 130px;
    padding-right: 160px;
    top: 30px;

}

// change above

.nav-content {
    display: flex;
}

.logo {

    padding: 0px 15px;
}

.logo a img {
    height: 20px;
}

.nav-content ul {
    display: flex;
    list-style: none;
}

.nav-content ul li {
    padding: 0px 5px;
    margin: 0px 4px 0px 14px;
}

.nav-content ul li a {
    @include content-center;
    text-decoration: none;
    padding: 0px 5px;
    justify-content: center;
    color: $background-color;
    position: relative;
    z-index: 5;
}

.nav-content ul li a:hover {
    color: $button-bgcolor;

}

.nav-icons {
    display: flex;
    justify-content: center;
    @include content-center;
}

.nav-icons a {
    margin: 10px;
    color: $background-color;
}

.nav-icons a i {
    font-size: 23px;
}

.nav-icons a i span {
    color: $white-color;
    background-color: #717FE0;
    font-size: 10px;
    padding: 4px;
}

.nav-icons a:hover {
    color: $button-bgcolor;

}

.login-register {
    display: none;
}

// humbargar menu

#click {
    display: none;
}

.nav-bar label {
    display: none;
}

// humbargar menu

/* navbar header close  */

/* container css */

body{
    background-color: $white-color;
}

.container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   position: relative;
   top: 150px;
    border-radius: 25px;
    text-align: center;
    width: 50%;
    margin: auto;
}

input[type=text] , select{
    @include input-property;

}
input[type=password] , select{
  @include input-property;
    
}
.hero h1{
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
#form-btn{
    margin-top: 30px;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #ccc;
}
#form-btn:hover{
    background-color: $button-bgcolor;
}

/* container */

.container h1{
    font-size: 40px ;
    color: $background-color;
}
.container-main-rmr{
    font-size: 20px;
}
.container-main-rmr, checkbox{
font-size: 20px;
}
.reset-section{
    margin-top: 30px;
    font-size: 20px;
   
   
}
.reset-section a{
    text-decoration: none;
    color: $background-color;
}
.reset-section a:hover{
    color: rgba(0, 255, 8, 0.845);
    border-bottom: 2px solid rgba(0, 255, 8, 0.845);
}
.reset-section span a:hover{
    color: red;
    border-bottom: 2px solid red;
}
#create-account{
    font-size: 20px;
    margin-top: 20px;
   
}
#create-account p a{
    color:rgb(239, 160, 13);
    font-weight: 900px;
    font-style: italic;

}
#create-account p a:hover{
    color: $button-bgcolor;
}


.top-navbar-head-2{
    display: none;
}




// mobile view 769 1300

@media screen and (min-width:769px) and (max-width:1300px) {
    .top-navbar {
        display: none;

    }

    .nav-bar {
        // padding-right: 30px;
        font-size: 20px;
    }

  
    .top-navbar-head-2 {
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        font-size: 17px;
        background-color: black;
        color: white;

    }


    .top-navbar {
        display: none;

    }


    /* humburgar menu */
    .nav-bar label {
        display: block;

    }

    .navbar {
        top: 0;
    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;
        text-align: center;

    }

    .nav-content ul li {
        margin: 5px;
        border-bottom: 2px solid rgba(22, 4, 4, 0.3);
        padding-bottom: 5px;

    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */


    /* login-register */
    .login-register {
        display: block;
    }

    .login-register-desktop {
        display: none;
    }

    /* login-register close */

    /* logo */
    .logo {
        margin-left: -140px;
    }

    /* logo */
    .nav-icons {
        display: flex;
        left: 70px;
    }

// nav header close 

}


// media query 768px

@media screen and  (max-width:768px) {


    .top-navbar {
        display: none;

    }

    .nav-bar {
        padding-right: 100px;
        font-size: 20px;
    }

    /* humburgar menu */
    .nav-bar label {
        display: block;

    }



    .top-navbar-head-2 {
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        font-size: 17px;
        background-color: black;
        color: white;

    }


    .top-navbar {
        display: none;

    }


    /* humburgar menu */
    .nav-content label {
        display: block;

    }

    .navbar {
        top: 0;
    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;

    }

    .nav-content ul li {
        margin: 5px;
        border-bottom: 2px solid rgba(22, 4, 4, 0.3);
        padding-bottom: 5px;

    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */


    /* login-register */
    .login-register {
        display: block;
    }

    .login-register-desktop {
        display: none;
    }

    /* login-register close */

    /* logo */
    .logo {
        margin-left: -140px;
    }

    /* logo */
    .nav-icons {
        display: flex;
        left: 70px;
    }

    // nav header close

  input[type=text], select {
    @include input-mobile-property;
     
     }
     input[type=email], select {
         @include input-mobile-property;
     }
     input[type=tel], select {
     @include input-mobile-property;
     }
     input[type=password], select {
         @include input-mobile-property;
     
     }
   
     
}




@media screen and (min-width:501px) and (max-width:617px) {



    .top-navbar {
        display: none;

    }

    .nav-bar {
        padding-right: 30px;
        font-size: 20px;
    }


    /* humburgar menu */
    .nav-bar label {
        display: block;

    }

    .navbar {
        top: 0;

    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;

    }

    .nav-content ul li {
        margin: 5px;

    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */


    /* login-register */
    .login-register {
        display: block;
    }

    .login-register-desktop {
        display: none;
    }

    /* login-register close */

    /* logo */
    .logo {
        margin-left: -140px;
    }

    /* logo */
    .nav-icons {
        display: flex;
        left: 70px;
    }


}



/* mobile view 500px */

@media screen and  (max-width:500px) {

    .top-navbar {
        display: none;

    }

    .nav-bar {
        padding-right: 30px;
        font-size: 20px;
    }


    /* humburgar menu */
    .nav-bar label {
        display: block;

    }

    .navbar {
        top: 0;
    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;

    }

    .nav-content ul li {
        margin: 5px;

    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */


    /* login-register */
    .login-register {
        display: block;
    }

    .login-register-desktop {
        display: none;
    }

    /* login-register close */

    /* logo */
    .logo {
        margin-left: -140px;
    }

    /* logo */
    .nav-icons {
        display: flex;
        left: 70px;
    }







  input[type=text], select {
   @include input-mobile-property;
    
    }
    input[type=email], select {
        @include input-mobile-property;
    }
    input[type=tel], select {
    @include input-mobile-property;
    }
    input[type=password], select {
        @include input-mobile-property;
    
    }
   
    
}


