* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* top navbar */
.top-navbar {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 8;
  padding-left: 40px;
  padding-right: 50px;
  top: 0px;
}

.top-navbar-head p {
  color: white;
  font-size: 15px;
  opacity: 0.8;
}

.top-navbar-head {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  margin: 0px 100px;
  padding: 0px 15px;
}

.top-navbar-list ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.top-navbar-list ul {
  list-style: none;
  border-left: 2px solid white;
  opacity: 0.8;
}

.top-navbar-list ul li {
  padding: 10px 20px 10px 20px;
  border-right: 2px solid white;
}

.top-navbar-list ul li:hover {
  cursor: pointer;
}

.top-navbar-list ul li a {
  text-decoration: none;
  color: black;
  padding: auto;
  font-size: 15px;
  color: white;
}

.top-navbar-list ul li a:hover {
  color: #717FE0;
}

.top-bar2 {
  display: none;
  margin-top: 10px;
}

/* top navbar close */
/* navbar header  */
header {
  background: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  background-color: #ccc;
  width: 100%;
  z-index: 5;
  padding-left: 130px;
  padding-right: 160px;
  top: 30px;
}

.nav-content {
  display: flex;
}

.logo {
  padding: 0px 15px;
}

.logo a img {
  height: 20px;
}

.nav-content ul {
  display: flex;
  list-style: none;
}

.nav-content ul li {
  padding: 0px 5px;
  margin: 0px 4px 0px 14px;
}

.nav-content ul li a {
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0px 5px;
  justify-content: center;
  color: black;
  position: relative;
  z-index: 5;
}

.nav-content ul li a:hover {
  color: #717FE0;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-icons a {
  margin: 10px;
  color: black;
}

.nav-icons a i {
  font-size: 23px;
}

.nav-icons a i span {
  color: white;
  background-color: #717FE0;
  font-size: 10px;
  padding: 4px;
}

.nav-icons a:hover {
  color: #717FE0;
}

.login-ragister {
  display: none;
}

#click {
  display: none;
}

.nav-content label {
  display: none;
}

/* navbar header close  */
/* signup form */
body {
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
  top: 150px;
  border-radius: 25px;
  width: 50%;
  margin: auto;
}
.container > h1 {
  text-align: center;
}

.item {
  align-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

::-moz-placeholder {
  color: black;
  font-size: 17px;
  opacity: 0.8;
}

::placeholder {
  color: black;
  font-size: 17px;
  opacity: 0.8;
}

input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  font-size: 17px;
}

input[type=email], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  font-size: 17px;
}

input[type=tel], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  font-size: 17px;
}

input[type=password], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  font-size: 17px;
}

#sign-up-btn {
  padding: 10px 100px 10px 100px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid white;
  font-size: 18px;
}

#sign-up-btn:hover {
  background-color: #717FE0;
}

.gender {
  text-align: left;
  margin-left: 150px;
  font-size: 20px;
  color: black;
}

.login-here {
  font-size: 20px;
  margin-top: 20px;
}

.item p a {
  color: blue;
  text-decoration: none;
}

.item p a:hover {
  color: red;
  border-bottom: 2px solid red;
}

.forget-psd {
  color: blue;
  font-size: 20px;
  margin-top: 40px;
  text-decoration: none;
}

.forget-psd:hover {
  color: rgba(0, 255, 47, 0.767);
  border-bottom: 2px solid rgba(0, 255, 8, 0.845);
}

.top-navbar-head-2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .top-navbar-head-2 {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    background-color: black;
    color: white;
  }
  .top-navbar {
    display: none;
    text-align: center;
    top: 65px;
  }
  /* humburgar menu */
  .nav-content label {
    display: block;
  }
  .navbar {
    top: 0;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #717FE0;
    z-index: 2;
  }
  .nav-content ul li {
    margin: 5px;
  }
  .nav-content ul li a {
    color: white;
  }
  .nav-content ul li a:hover {
    color: #717FE0;
  }
  #click:checked ~ .nav-content ul {
    display: flex;
  }
  /* humbergar menu */
  /* login-ragister */
  .login-ragister {
    display: block;
  }
  .login-ragister-desktop {
    display: none;
  }
  /* login-ragister close */
  /* logo */
  .logo {
    margin-left: -100px;
  }
  /* logo */
  .nav-icons {
    display: flex;
    position: relative;
    left: 70px;
  }
  .top-bar2 {
    display: block;
    display: flex;
    justify-content: left;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
  }
  input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
  }
  .gender {
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    color: black;
  }
}
/* mobile view 500px */
@media screen and (max-width: 500px) {
  .top-navbar {
    display: none;
  }
  /* humburgar menu */
  .nav-content label {
    display: block;
  }
  .navbar {
    top: 0;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #717FE0;
    color: white;
    z-index: 2;
  }
  .nav-content ul li {
    margin: 5px;
  }
  .nav-content ul li a {
    color: white;
  }
  .nav-content ul li a:hover {
    color: #717FE0;
  }
  #click:checked ~ .nav-content ul {
    display: flex;
  }
  /* humbergar menu */
  /* login-ragister */
  .login-ragister {
    display: block;
  }
  .login-ragister-desktop {
    display: none;
  }
  /* login-ragister close */
  /* logo */
  .logo {
    margin-left: -140px;
  }
  /* logo */
  .nav-icons {
    display: flex;
    position: relative;
    left: 70px;
  }
  .hero {
    width: 100%;
  }
  .items img {
    width: 100%;
    height: 100vh;
  }
  /* logo */
  .nav-icons {
    display: flex;
    position: relative;
    left: 70px;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
  }
  input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
  }
  .gender {
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    color: black;
  }
}/*# sourceMappingURL=style.css.map */