* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$background-color: black;
$white-color: white;
$para-font-size: 17px;
$button-bgcolor: #717FE0;
$border-color: 2px solid rgb(160, 155, 155);

@mixin content-center {
    align-items: center;
    text-align: center;
}

@mixin flexproperty {
    display: flex;
    justify-content: space-between;
}

@mixin input-property {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;
}

@mixin input-mobile-property {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 17px;

}

/* top navbar */
/* top navbar */

// new changes
.top-navbar {
    background-color: $background-color;
    position: fixed;
    width: 100%;
    z-index: 8;
    padding-left: 40px;
    padding-right: 50px;
    top: 0px;

}

// new changes
.top-navbar-head p {
    color: $white-color;
    font-size: 15px;
    opacity: 0.8;
}

.top-navbar-head {
    @include flexproperty;
    // height: 5vh;
    align-items: center;
    margin: 0px 100px;
    padding: 0px 15px;

}

.top-navbar-list ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.top-navbar-list ul {
    list-style: none;
    border-left: 2px solid $white-color;
    opacity: 0.8;

}

.top-navbar-list ul li {
    padding: 10px 20px 10px 20px;
    border-right: 2px solid $white-color;
}

.top-navbar-list ul li:hover {
    cursor: pointer;
}

.top-navbar-list ul li a {
    text-decoration: none;
    color: $background-color;
    // padding: auto;
    font-size: 15px;
    color: $white-color;

}

.top-navbar-list ul li a:hover {
    cursor: pointer;
    color: $button-bgcolor;
}

.top-bar2 {
    display: none;
    margin-top: 10px;
}

.top-navbar-head-2 {
    display: none;
}

/* top navbar close */

/* navbar header  */

header {
    background: none;


}

// changese below
.navbar {
    @include flexproperty;
    align-items: center;
    height: 80px;
    position: fixed;
    background-color: #ccc;
    width: 100%;
    z-index: 5;
    padding-left: 130px;
    padding-right: 160px;
    top: 30px;

}

// change above

.nav-content {
    display: flex;
}

.logo {

    padding: 0px 15px;
}

.logo a img {
    height: 20px;
}

.nav-content ul {
    display: flex;
    list-style: none;
}

.nav-content ul li {
    padding: 0px 5px;
    margin: 0px 4px 0px 14px;
}

.nav-content ul li a {
    @include content-center;
    text-decoration: none;
    padding: 0px 5px;
    justify-content: center;
    color: $background-color;
    position: relative;
    z-index: 5;
}

.nav-content ul li a:hover {
    color: $button-bgcolor;

}

.nav-icons {
    display: flex;
    justify-content: center;
    @include content-center;
}

.nav-icons a {
    margin: 10px;
    color: $background-color;
}

.nav-icons a i {
    font-size: 23px;
}

.nav-icons a i span {
    color: $white-color;
    background-color: #717FE0;
    font-size: 10px;
    padding: 4px;
}

.nav-icons a:hover {
    color: $button-bgcolor;

}

.login-register {
    display: none;
}

// humbargar menu

#click {
    display: none;
}

.nav-bar label {
    display: none;
}

// humbargar menu

/* navbar header close  */




/* hero section */

.hero {
    background: url(/images/contact-us/contact-hero.jpg) no-repeat center center/cover;
    height: 50vh;
    align-content: center;
    padding-top: 100px;

}

.hero-heading {
    font-size: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.864);

}

/* hero section close */


/* contact section start */

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid rgb(246, 240, 240);
    margin: 100px 160px 100px 160px;
    text-align: center;
    padding: 0px 15px;

}

.item {
    text-align: center;
    border-right: 2px solid rgb(246, 240, 240);
    padding: 0px 15px;
}

.item h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 100px;

}

input[type=email],
select {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid rgb(246, 240, 240);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 17px;


}

textarea {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;

    font-size: 17px;
}

#form-btn {
    padding: 15px 200px 15px 200px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    font-size: 17px;
    background-color: black;

}

#form-btn:hover {
    background-color: #717FE0;
}

/*  */
.address {
    margin-top: 80px;
}

.address h1 {
    margin-bottom: 20px;
}

.address p {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.address p {
    margin-top: 20px;
    font-size: 17px;
}

.address p {
    color: #717FE0;
}

/* contact section close */


/* contact map start */
.contact-map {
    height: 55vh;
}

.contact-map iframe {
    width: 100%;
}





/* footer section  start */

footer {
    // height: 75vh;
    background-color: rgba(0, 0, 0, 0.896);
    color: $white-color;
    padding-top: 80px;
 
}

.footer {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 160px;
    padding-right: 160px;

}

.footer-heading h1 {
    font-size: 20px;
    font-weight: 800px;
    margin-bottom: 30px;

}

/* footer-list */
.footer-list ul li {
    line-height: 2.5;
    list-style: none;
}

.footer-list ul li a {
    text-decoration: none;
    color: $white-color;
    opacity: 0.7;
}

.footer-list ul li a:hover {
    color: $button-bgcolor;
}

/* new change */
.categories {
    width: 300px;
}

.help {
    width: 200px;
}

/* get in touch */
.get-in-touch {
    width: 380px;
    padding: 20px;
}

/*  */

.get-in-touch p {
    line-height: 2.0;
    font-size: 17px;
    opacity: 0.7;

}

.get-in-touch i {
    margin-top: 20px;
    margin: 10px;
    color: $white-color;
    font-size: 17px;

}

.get-in-touch i:hover {
    color: $button-bgcolor;
}

input[type=email],
select {
    width: 100%;
    font-size: 17px;
    display: inline-block;
    background: transparent;
    outline: none;
    margin-bottom: 15px;
    color: white;
    height: 15%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.46);

}


/* newsletter button */

.newsletter button {
    padding: 15px 50px 15px 50px;
    font-size: 17px;
    border-radius: 25px;
    background-color: $button-bgcolor;
    color: $white-color;
    border: none;

}

.newsletter button:hover {
    color: $button-bgcolor;
    background-color: $white-color;
    cursor: pointer;
}

/* cards */

.card {
    margin-top: 110px;
    text-align: center;

}

.copyrights {
    margin-top: 20px;
    text-align: center;
    opacity: 0.5;
}

.copyrights p a {
    text-decoration: none;
    color: aqua;
}

.copyrights p i {
    background: transparent;
    border: 1px solid rgb(0, 255, 13);
    color: red;
    border-radius: 25px;
    padding: 5px;
}

/* footer section close */





// mobile view 769 1300

@media screen and (min-width:769px) and (max-width:1300px) {
    .top-navbar {
        display: none;

    }

    .nav-bar {
        // padding-right: 30px;
        font-size: 20px;
    }

  

    .top-navbar-head-2 {
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        font-size: 17px;
        background-color: black;
        color: white;

    }


    .top-navbar {
        display: none;

    }


    /* humburgar menu */
    .nav-bar label {
        display: block;

    }

    .navbar {
        top: 0;
    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;
        text-align: center;

    }

    .nav-content ul li {
        margin: 5px;
        border-bottom: 2px solid rgba(22, 4, 4, 0.3);
        padding-bottom: 5px;

    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */


    /* login-register */
    .login-register {
        display: block;
    }

    .login-register-desktop {
        display: none;
    }

    /* login-register close */

    /* logo */
    .logo {
        margin-left: -140px;
    }

    /* logo */
    .nav-icons {
        display: flex;
        left: 70px;
    }

// nav header close 



    // contact form
    .contact {
        grid-template-columns: 1fr 1fr;
        margin: 20px;
        padding: 0px 15px;
        background-color: white;
    }

    .item {
        text-align: center;
        border: none;

    }



    .address {
        text-align: center;
    }


    #form-btn {

        padding: 15px 100px 15px 100px;
        margin: 20px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 25px;
        font-size: 20px;
        color: white;
        font-size: 17px;
        background-color: black;

    }

    #form-btn:hover {
        background-color: #717FE0;
    }


    .contact-map {
        height: auto;
    }

    // footer 







// footer

footer {
    display: block;


}

.footer {
    grid-template-columns: repeat(4, 1fr);
    padding-left: 30px;
    padding-right: 50px;
}

.categories {
    padding-bottom: 50px;
}

.help {
    padding-bottom: 50px;
}

.newsletter {
    padding-TOP: 50px;
}


}




/* mobile view 768px  */
@media screen and (max-width:768px) {

    .top-navbar {
        display: none;

    }

    .nav-bar {
        padding-right: 100px;
        font-size: 20px;
    }

    /* humburgar menu */
    .nav-bar label {
        display: block;

    }







    .top-navbar-head-2 {
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        font-size: 17px;
        background-color: black;
        color: white;

    }


    .top-navbar {
        display: none;

    }


    /* humburgar menu */
    .nav-content label {
        display: block;

    }

    .navbar {
        top: 0;
    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;

    }

    .nav-content ul li {
        margin: 5px;
        border-bottom: 2px solid rgba(22, 4, 4, 0.3);
        padding-bottom: 5px;

    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */


    /* login-register */
    .login-register {
        display: block;
    }

    .login-register-desktop {
        display: none;
    }

    /* login-register close */

    /* logo */
    .logo {
        margin-left: -140px;
    }

    /* logo */
    .nav-icons {
        display: flex;
        left: 70px;
    }

    // nav header close
    /* hero  section*/
    .hero {
        height: 35vh;
        width: auto;
    }


    // contact form
    .contact {
        grid-template-columns: 1fr;
        margin: 20px;
        padding: 0px 15px;
        background-color: white;
    }

    .item {
        text-align: center;
        border: none;

    }



    .address {
        text-align: center;
    }


    #form-btn {

        padding: 15px 100px 15px 100px;
        margin: 20px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 25px;
        font-size: 20px;
        color: white;
        font-size: 17px;
        background-color: black;

    }

    #form-btn:hover {
        background-color: #717FE0;
    }


    .contact-map {
        height: auto;
    }

    // footer 
    
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 30px;
        padding-right: 50px;
        // display: block;
    }

    .categories {
        padding-bottom: 50px;
    }

    .help {
        padding-bottom: 50px;
    }

    .newsletter {
        padding-TOP: 50px;
    }



}




/* mobile view  501  617px*/

@media screen and (min-width:501px) and (max-width:617px) {



    .top-navbar {
        display: none;

    }

    .nav-bar {
        padding-right: 30px;
        font-size: 20px;
    }


    /* humburgar menu */
    .nav-bar label {
        display: block;

    }

    .navbar {
        top: 0;

    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;

    }

    .nav-content ul li {
        margin: 5px;

    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */


    /* login-register */
    .login-register {
        display: block;
    }

    .login-register-desktop {
        display: none;
    }

    /* login-register close */

    /* logo */
    .logo {
        margin-left: -140px;
    }

    /* logo */
    .nav-icons {
        display: flex;
        left: 70px;
    }





    // footer 
    .footer {
        grid-template-columns: 1fr 1fr;
        // height: auto;
        display: block;
        padding-left: 30px;
    }

    .categories {
        padding-bottom: 50px;
    }

    .help {
        padding-bottom: 50px;
    }

    .newsletter {
        padding-TOP: 50px;
    }

    // footer section close

}


/* mobile view  500px*/

@media screen and (max-width:500px) {


    .top-navbar {
        display: none;

    }

    .nav-bar {
        padding-right: 30px;
        font-size: 20px;
    }


    /* humburgar menu */
    .nav-bar label {
        display: block;

    }

    .navbar {
        top: 0;
    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: $button-bgcolor;
        color: $white-color;
        z-index: 2;

    }

    .nav-content ul li {
        margin: 5px;

    }

    .nav-content ul li a {
        color: $white-color;
    }

    .nav-content ul li a:hover {
        color: $button-bgcolor;
    }

    #click:checked~.nav-content ul {
        display: flex;
    }

    /* humbergar menu */


    /* login-register */
    .login-register {
        display: block;
    }

    .login-register-desktop {
        display: none;
    }

    /* login-register close */

    /* logo */
    .logo {
        margin-left: -140px;
    }

    /* logo */
    .nav-icons {
        display: flex;
        left: 70px;
    }




    // nav header close



    /* hero  section*/
    .hero {
        height: 35vh;
        width: auto;
    }


    // contact form
    .contact {
        grid-template-columns: auto;
        margin: 20px;
        padding: 0px 15px;
        background-color: white;
    }

    .item {
        text-align: center;
        border: none;

    }



    .address {
        text-align: center;
    }


    #form-btn {

        padding: 15px 100px 15px 100px;
        margin: 20px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 25px;
        font-size: 20px;
        color: white;
        font-size: 17px;
        background-color: black;

    }

    #form-btn:hover {
        background-color: #717FE0;
    }


    .contact-map {
        height: auto;
    }

    //    footer
    .footer {
        grid-template-columns: 1fr;
        display: block;
        padding-left: 30px;
    }

    .categories {
        padding-bottom: 50px;
    }

    .help {
        padding-bottom: 50px;
    }

    .newsletter {
        padding-TOP: 50px;
    }


}


