* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-navbar {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 8;
  padding-left: 40px;
  padding-right: 50px;
  top: 0px;
}

.top-navbar-head p {
  color: white;
  font-size: 15px;
  opacity: 0.8;
}

.top-navbar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
  padding: 0px 15px;
}

.top-navbar-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.top-navbar-list ul {
  list-style: none;
  border-left: 2px solid white;
  opacity: 0.8;
}

.top-navbar-list ul li {
  padding: 10px 20px 10px 20px;
  border-right: 2px solid white;
}

.top-navbar-list ul li:hover {
  cursor: pointer;
}

.top-navbar-list ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  color: white;
}

.top-navbar-list ul li a:hover {
  cursor: pointer;
  color: #717FE0;
}

.top-bar2 {
  display: none;
  margin-top: 10px;
}

.top-navbar-head-2 {
  display: none;
}

/* top navbar close */
/* navbar header  */
header {
  background: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  background-color: #ccc;
  width: 100%;
  z-index: 5;
  padding-left: 130px;
  padding-right: 160px;
  top: 30px;
}

.nav-content {
  display: flex;
}

.logo {
  padding: 0px 15px;
}

.logo a img {
  height: 20px;
}

.nav-content ul {
  display: flex;
  list-style: none;
}

.nav-content ul li {
  padding: 0px 5px;
  margin: 0px 4px 0px 14px;
}

.nav-content ul li a {
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0px 5px;
  justify-content: center;
  color: black;
  position: relative;
  z-index: 5;
}

.nav-content ul li a:hover {
  color: #717FE0;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-icons a {
  margin: 10px;
  color: black;
}

.nav-icons a i {
  font-size: 23px;
}

.nav-icons a i span {
  color: white;
  background-color: #717FE0;
  font-size: 10px;
  padding: 4px;
}

.nav-icons a:hover {
  color: #717FE0;
}

.login-ragister {
  display: none;
}

#click {
  display: none;
}

.nav-bar label {
  display: none;
}

/* navbar header close  */
/* container css */
.hero {
  margin-top: 120px;
  height: 100%;
}
.hero > h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.hero h6 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-head {
  display: flex;
  justify-content: center;
}
.hero-head button {
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
}
.hero-head button:hover {
  background-color: #717FE0;
  color: white;
}

.container-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: auto;
  font-weight: bold;
  font-size: 20px;
  width: 70%;
}

.item {
  border: 2px solid #ccc;
  text-align: center;
  padding: 10px;
  justify-content: center;
  align-content: center;
}

.item img {
  width: 80px;
  height: 80px;
}

.item p {
  font-size: 12px;
}

.unit-price {
  font-size: 25px;
}

input[type=number],
select {
  padding: 6px 10px;
  font-size: 17px;
  width: 40%;
}

.item a button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
}

.item a button:hover {
  background-color: #717FE0;
  color: white;
}

.stock-status {
  color: rgb(7, 241, 7);
  font-size: 17px;
}

.stock-status-2 {
  color: red;
}

.item i {
  font-size: 25px;
  color: #717FE0;
}

.btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 30px;
  padding-bottom: 100px;
  width: 50%;
  margin: auto;
}

.btn a button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
}

.btn a button:hover {
  background-color: #717FE0;
  color: white;
}

@media screen and (min-width: 769px) and (max-width: 1300px) {
  .top-navbar {
    display: none;
  }
  .nav-bar {
    font-size: 20px;
  }
  .top-navbar-head-2 {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    background-color: black;
    color: white;
  }
  .top-navbar {
    display: none;
  }
  /* humburgar menu */
  .nav-bar label {
    display: block;
  }
  .navbar {
    top: 0;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #717FE0;
    color: white;
    z-index: 2;
  }
  .nav-content ul li {
    margin: 5px;
    border-bottom: 2px solid rgba(22, 4, 4, 0.3);
    padding-bottom: 5px;
  }
  .nav-content ul li a {
    color: white;
  }
  .nav-content ul li a:hover {
    color: #717FE0;
  }
  #click:checked ~ .nav-content ul {
    display: flex;
  }
  /* humbergar menu */
  /* login-ragister */
  .login-ragister {
    display: block;
  }
  .login-ragister-desktop {
    display: none;
  }
  /* login-ragister close */
  /* logo */
  .logo {
    margin-left: -140px;
  }
  /* logo */
  .nav-icons {
    display: flex;
    left: 70px;
  }
  .hero {
    overflow-x: auto;
  }
}
@media screen and (max-width: 768px) {
  .top-navbar-head-2 {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    background-color: black;
    color: white;
  }
  .top-navbar {
    display: none;
    text-align: center;
    top: 65px;
    padding-left: 0px;
    z-index: -1;
  }
  .top-navbar {
    display: none;
  }
  .nav-bar {
    padding-right: 100px;
    font-size: 20px;
  }
  /* humburgar menu */
  .nav-bar label {
    display: block;
  }
  .top-navbar-head-2 {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    background-color: black;
    color: white;
  }
  .top-navbar {
    display: none;
  }
  /* humburgar menu */
  .nav-content label {
    display: block;
  }
  .navbar {
    top: 0;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #717FE0;
    color: white;
    z-index: 2;
  }
  .nav-content ul li {
    margin: 5px;
    border-bottom: 2px solid rgba(22, 4, 4, 0.3);
    padding-bottom: 5px;
  }
  .nav-content ul li a {
    color: white;
  }
  .nav-content ul li a:hover {
    color: #717FE0;
  }
  #click:checked ~ .nav-content ul {
    display: flex;
  }
  /* humbergar menu */
  /* login-ragister */
  .login-ragister {
    display: block;
  }
  .login-ragister-desktop {
    display: none;
  }
  /* login-ragister close */
  /* logo */
  .logo {
    margin-left: -140px;
  }
  /* logo */
  .nav-icons {
    display: flex;
    left: 70px;
  }
  .hero {
    overflow-x: auto;
  }
}
/* mobile view 500px */
@media screen and (max-width: 500px) {
  .top-navbar {
    display: none;
  }
  .nav-bar {
    padding-right: 30px;
    font-size: 20px;
  }
  /* humburgar menu */
  .nav-bar label {
    display: block;
  }
  .navbar {
    top: 0;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #717FE0;
    color: white;
    z-index: 2;
  }
  .nav-content ul li {
    margin: 5px;
  }
  .nav-content ul li a {
    color: white;
  }
  .nav-content ul li a:hover {
    color: #717FE0;
  }
  #click:checked ~ .nav-content ul {
    display: flex;
  }
  /* humbergar menu */
  /* login-ragister */
  .login-ragister {
    display: block;
  }
  .login-ragister-desktop {
    display: none;
  }
  /* login-ragister close */
  /* logo */
  .logo {
    margin-left: -140px;
  }
  /* logo */
  .nav-icons {
    display: flex;
    left: 70px;
  }
  .hero {
    width: 100%;
    overflow-x: auto;
  }
  .items img {
    width: 100%;
    height: 100vh;
  }
  /* logo */
  .nav-icons {
    display: flex;
    position: relative;
    left: 70px;
  }
}/*# sourceMappingURL=style.css.map */